<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Ship Images 🚢</div>
    <p>
      Use images of navy vessels: <strong>amphibs</strong>, <strong>carriers</strong>, <strong>corvettes</strong>, <strong>destroyers</strong>, <strong>frigates</strong>, <strong>gunboats</strong>, <strong>mines</strong>, <strong>missileboats</strong>, or <strong>tenders</strong>!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <div class='result_micro-label'>
        <label id='result_micro-label'></label>
      </div>
      <legend>Alternate Method</legend>
        <p>
          <label>Chinese Hull Number</label>
          <input type = "text"
                 id = "hull-text"
                 value = "101" />
          <button class='submit-hull-button' type='button' onclick='submitHull()'>Submit</button>
          <div class='result_hull-label'>
            <label id='result_hull-label'></label>
          </div>
          <div class='footer_info'>
              <label id='contact info'>Comments? email <a href="mailto:piazzr2@gmail.com" title = "piazzr2@gmail.com">piazzr2@gmail.com</a></label>
          </div>
        </p>

    </div>
  </div>
</div>
</body>
</html>
