<html lang='en'>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151655654-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151655654-1');
  </script>

  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/ship_client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Ship Images 🚢</div>
    <p>
      Use images of navy vessels: <strong>amphibs</strong>, <strong>carriers</strong>, <strong>corvettes</strong>, <strong>destroyers</strong>, <strong>frigates</strong>, <strong>gunboats</strong>, <strong>mines</strong>, <strong>missileboats</strong>, or <strong>tenders</strong>!
    </p>
    <p>
      Note: The pytorch visual recognition models used for this webpage were trained independently. Occasionaly, the large category will disagree with the top specific class predictions.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Own Image</button>
      <button class='choose-file-button' type='button' onclick='showExample()'>Use Example Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div>
        <img id='no-image-picked' src='../static/Carrier.jpg' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze (5-10 sec)</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <div class='result_micro-label'>
        <label id='result_micro-label'></label>
      </div>
      <div class='top_5_results-label'>
        <label id='top_5_results-label'></label>
      </div>
      <legend>Alternate Method:</legend>
        <p>
          <label>PLA Navy (Chinese) Hull Number</label>
          <input type = "text"
                 id = "hull-text"
                 value = "101">
          <button id = 'submit-hull-button' class='submit-hull-button' type='button' onclick='submitHull()'>Submit</button>
          <div class='result_hull-label'>
            <label id='result_hull-label'>No hull number submitted</label>
          </div>
          <div class='footer_info'>
              <p>
                <label id='contact info'>Comments? Have photos you would like to submit for better model training? Email <a href="mailto:navyshipclassifier@gmail.com" title = "navyshipclassifier@gmail.com">navyshipclassifier@gmail.com</a></label>
              </p>
          </div>
        </p>

    </div>
  </div>
</div>
</body>
</html>
