body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 2em;
}

.analyze {
    margin-top: 2em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.25em;
    padding: 10px;
    font-size: 20px;
}

.result_micro-label {
    margin-top: 0.25em;
    padding: 5px;
    font-size: 18px;
}

.result_hull-label {
    margin-top: 0.25em;
    padding: 5px;
    font-size: 18px;
}

.top_5_results-label {
    margin-top: 0.25em;
    padding: 5px;
    font-size: 18px;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #0000ff;
  color: white;
}


button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #0000ff;
    font-size: 13px;
    color: #0000ff;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #f2c200;
    border-radius: 2px;
    background-color: #f2c200;
    font-size: 13px;
    color: #ffffff;
}

button.submit-hull-button {
    width: 150px;
    height: 20px;
    border: solid 1px #f2c200;
    border-radius: 2px;
    background-color: #f2c200;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
